* {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    height: 200px;
    width: 200px;
    /* background: linear-gradient(to right, #ff105f, #fd8f00); */
    border-radius: 50%;
    border-left: 4px solid red;
    border-top: 4px solid red;
    animation-name: ser;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.sup_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ser {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.in_main {
    position: fixed;
    background: #fff;
    border-radius: 50%;
    background-color: lightgray;
    font-size: 30px;
}